body {
	font-family: 'Helvetica Neue';
	text-align: center;
	margin-top: 0%;
	color: white;
	background-size:   cover;                    
  background-repeat: no-repeat;
}

.sunny {
	background-image: url('images/sunny.jpg');
}

.cloudy {
	background-image: url('images/cloudy.jpg');
}

.drizzle {
	background-image: url('images/drizzle2.jpg');
}

.other {
	background-image: url('images/other.jpg');
}

.rain {
	background-image: url('images/rain.jpg');
}

.snow {
	background-image: url('images/snow.jpg');
}

h1 {
	font-size: 80px;
	margin-bottom: 0%;
}

h2 {
	margin: 0%;
}

h3 {
	font-size: 80px;
	margin: 0%;
}

section {
	margin: auto 0;
}

.spotify-player {
	margin-top: 3%;
	opacity: 0.7;
}